a{
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    font-style: oblique;
}
body{
    background-color: black;

}
h1{
    background-color: black;
    color:white;
}
.container{
    display: flex;
    gap: 20px;
    
}
.card{
    background-color: lightblue;
    width:500px;
    height:300px;
    padding: 20px;
    margin-left: 150px;
    box-sizing: border-box;
}
.recipe-img{
    width: 500px;
    margin-left: 200px;

}
.recipes
{
    background-color: white;
}
.first,
.second{
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}
.foodimg{
    float:left;
    margin-right: 8px;
    margin-bottom: 25px;
}
.brief,
.ingredients,
.steps{

    font-family: sans-serif;
    font-size: 20px;
    width: fit-content;
    background-color: #181A18;
    color:white;
}
.r-container{

    clear:both;
    display: flex;
}
.steps{
    box-sizing: border-box;
    height: fit-content;
    margin-left: 150px;
    margin-right:100px;
}
